.header
  .left-header
    .left-header__title
      test_sample
    %ul.left-header__members
      Member：
      %li.member
        - if @user.present?
          - @user.each do |member|
            = member.name
  .right-header
    = link_to "Edit", "#", class: "button"
