.header
  .left-header
    .left-header__title
      test_sample
    %ul.left-header__members
      Member：
      %li.member
        test_kaneko
  .right-header
    %a.right-header__button{:href => "/groups/28052/edit"}
      Edit
