.header
  %h3.header__name
    test_kaneko
  %ul.header__lists
    %li.list
      %a{:href => "/groups/new"}
        %i.fa.fa-pencil-square-o.icon
    %li.list
      %a{:href => "/users/11892/edit"}
        %i.fa.fa-cog.icon
