html {
  color: #000;
  background: #FFF;
}

div {
  display: block;
}

head {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  display: block;
}

.notification {
  color: #fff;
  background-color: #38AEF0;
  text-align: center;
}

.wrapper {
  margin: 0;
  padding: 0;
}
